@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
